
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header h2{
    font-size: 30px;
    letter-spacing: 1px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

header nav ul a{
    margin-right: 2.5px;
    justify-content: center;
   
}

header nav {
    position: relative;
    width: 524px;
    height: 50px;
    background: #1a1f2b;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    transition: color 0.3s ease;
    flex: 1; /* Asegura que cada enlace tenga el mismo tamaño */
    text-align: center; /* Centra el texto dentro del enlace */
}

nav span {
    position: absolute;
    top: 0;
    left: 196px; /* cambia la posicion del indicador nav segun la pestana en la que estemos*/
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #1a1e60, #005b99);
    border-radius: 8px;
    transition: .5s ease;
    
}

nav a:nth-child(1):hover~span {
    left: 0;
}
nav a:nth-child(2):hover~span {
    left: 95px;
}
nav a:nth-child(3):hover~span {
    left: 189px;
    width: 110px;
}
nav a:nth-child(4):hover~span {
    left: 298px;
    width: 115px;
}
nav a:nth-child(5):hover~span {
    left: 413px;
    width: 110px;
}

/*------------------------- HEADER <a> POSITION*/
nav a:nth-child(2) {
    left: 12px;
}

nav a:nth-child(3) {
    left: 21px;
}

nav a:nth-child(4) {
    left: 17px;
}

nav a:nth-child(5) {
    left: 10px;
}

/*------------------------- BODY*/

body{
    background-color: #0e1014;
}

body p{
    color: white;
}

/*------------------------- FOOTER HOVER ANIMATION*/

footer nav a:hover{
    background: linear-gradient(45deg, #1a1e60, #003f73);  /* Gradient */
    scale: 110%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 5%;

    background-color: #11141a;
}

footer nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    padding-top: 22px;
    margin-right: 30px;
}


footer nav ul li{
    margin-right: 10px;
    justify-content: center;
   
}

footer nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 350;
    margin-left: 35px;
    transition: .3s;
    border-radius: 8px;

}

footer p{
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-top: -22px;

    color: white;
    letter-spacing: 0.5px;
}


/* IMAGE CARROUSEL -------------------------------------------------------------------------------------- IMAGE CARROUSEL */


body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(30deg, #0e1014, #141c2a, #1a2236, #000000);
}

main p{
    margin-top: -450px;
    margin-left: 100px;
    font-size: 50px;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
    flex-direction: column;
}

img{
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.img{height: 370px;}

.caption{
    margin-top: 10px;
}

.button{ /* FILTRO OSCURO */
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin-top: -35px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0);
}


#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}


#slider1:target ~ .imgContainer{
    left: 30%;
}
#slider2:target ~ .imgContainer{
    left: 20%;
}
#slider3:target ~ .imgContainer{
    left: 10%;
}
#slider4:target ~ .imgContainer{
    left: 0%;
}
#slider5:target ~ .imgContainer{
    left: -10%;
}
#slider6:target ~ .imgContainer{
    left: -20%;
}
#slider7:target ~ .imgContainer{
    left: -30%;
}


/* TYPING EFFECT -------------------------------------------------------------------------------------- TYPING EFFECT */

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.typing-effect {
    
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff;  /* Puedes cambiar el color aquí */
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;  /* Este es el cursor de tipeo */
    animation: typing 3s steps(30) forwards, blink-caret 0.75s step-end infinite;
}

/* Animación del cursor (parpadeo) */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
