@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


/* Estilo para los campos vacíos (con borde rojo) */
.invalid {
    border: 1px solid red;
}

header h1{
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

header nav ul a{
    margin-right: 2.5px;
    justify-content: center;
   
}

header nav {
    position: relative;
    width: 524px;
    height: 50px;
    background: #1a1f2b;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    transition: color 0.3s ease;
    flex: 1; /* asegura que cada enlace tenga el mismo tamaño */
    text-align: center; /* centra el texto dentro del enlace */

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav span {
    position: absolute;
    top: 0;
    left: 311px; /* cambia la posicion del indicador nav segun la pestana en la que estemos*/
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #1a1e60, #005b99);
    border-radius: 8px;
    transition: .5s ease;
    
}

/* ajustes del indicador nav*/
nav a:nth-child(1):hover~span {
    left: 0;
}
nav a:nth-child(2):hover~span {
    left: 97px;
    width: 100px;
}
nav a:nth-child(3):hover~span {
    left: 195px;
    width: 110px;
}
nav a:nth-child(4):hover~span {
    left: 304px;
    width: 111px;
}
nav a:nth-child(5):hover~span {
    left: 413px;
    width: 110px;
}

/*------------------------- HEADER <a> POSITION*/
nav a:nth-child(2) {
    left: 12px;
}

nav a:nth-child(3) {
    left: 21px;
}

nav a:nth-child(4) {
    left: 17px;
}

nav a:nth-child(5) {
    left: 10px;
}

/*------------------------- BODY*/

body{
    background-color: #0e1014;
    
}

body p{
    color: white;
    margin-top: 3%;
    font-size: 20px;
}

form {
    margin-top: 17%;
    margin-left: 21%;
}

form p{
    margin-top: 15%;
}

#name-field{
    background-color: #1a1f23;
    border-radius: 7px;
    color: white;
}

#checkbox-field{
    margin-top: 0px;
    background-color: #1a1f23;
    border-radius: 7px;
    color: white;
}

#password-field{
    background-color: #1a1f23;
    border-radius: 7px;
    color: white;
}

#birth-field{
    background-color: #1a1f23;
    border-radius: 7px;
    color: white;
}

#message-field{
    background-color: #1a1f23;
    border-radius: 7px;
    color: white;
}

#submit-field {
    margin-top: 0%;
    margin-left: 30%;
    transform: scale(1.5);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, #1a1e60, #005b99);
    color: white;
    border-width: 0px;
    transition: transform 0.3s ease; /* Aplica transición siempre */
}

#submit-field:hover {
    transform: scale(1.7); /* Animación fluida */
}

/* HOME GLOWING EFFECT CARD */

.card{
    margin: 0 auto;
    margin-top: 12%;
    padding: 20px;
    width: 600px;
    height: 700px;
    background: #1c1f2b;
    border-radius: 10px;
    position: relative;
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card::after, .card::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, #1a1e60, #003f73);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    animation: 2s spin linear infinite;
  }
  .card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }


/*------------------------- FOOTER HOVER ANIMATION*/

footer nav a:hover{
    background: linear-gradient(45deg, #1a1e60, #003f73);  /* Gradient */
    scale: 110%;
}

footer nav p{
    font-size: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 5%;
    background-color: #11141a;
}

footer nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    padding-top: 22px;
    margin-right: 30px;
}


footer nav ul li{
    margin-right: 10px;
    justify-content: center;
   
}

footer nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 350;
    margin-left: 35px;
    transition: .3s;
    border-radius: 8px;

}

footer p{
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-top: -22px;
    font-size: 16px;
    color: white;
    letter-spacing: 0.5px;
}