

header nav{
    padding: 50px 0;
    position: fixed;  /* Hace que el nav quede fijo arriba */
    top: 0;
    width: 100%;  /* Para que ocupe todo el ancho */
    height: 0.1%;
    display: block;
    background-color: #697565;
    padding: 100px;
    margin: -100px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

header nav ul li{
    margin-right: 140px;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 18px;  /* Tamaño más grande para resaltar */
    margin-top: 25px;
}

p{
    color: white;  /* Todo el texto */
    text-align: justify;  /* Justifica el texto */
    line-height: 1.6;     /* Mejora la legibilidad */
    margin-bottom: 20px;  /* Añade separación entre párrafos */
    letter-spacing: 2px; 
}

p:nth-of-type(3), p:nth-of-type(6){
    color: #697565;  /* Aplica el color verde al segundo y cuarto <p> */
}

p:nth-of-type(8), p:nth-of-type(10){
    color: #697565;  /* Aplica el color verde al segundo y cuarto <p> */
}

header h1{
    color: white;
    margin-top: 130px;  /* Espacio para que el h1 no quede tapado por el nav fijo */
    font-family: 'Poppins', sans-serif;  /* Aplica la fuente Poppins */
    font-weight: 700;  /* Negrita para destacar el título */
    font-size: 30px;  /* Tamaño más grande para resaltar */
    letter-spacing: 2px; 
}


h2{
    color: #ECDFCC;
    text-decoration: underline;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;  /* Aplica la fuente Poppins */
}

h3{
    color: #ECDFCC;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;  /* Aplica la fuente Poppins */
}


body{
    margin: 0 32px 0 32px;
    background-color: #1E201E;
    justify-content: center;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;  /* Eliminar los puntos de la lista si es necesario */
    padding: 0;
}

li {
    margin: 10px 0;  /* Margen entre elementos normales */
    color: #697565;
}

li strong {
    display: block;  /* Hace que <strong> ocupe su propio "bloque" */
    margin-top: 25px;  /* Margen superior más grande para separarlo del anterior */
    margin-bottom: 10px;
    color: white;
    font-weight: normal;
}

nav a{
    color: #ECDFCC;
    text-decoration: none;
}

footer {
    display: block;
    background-color: #697565;
    margin-top: auto;
}

footer p{
   
    color: #ECDFCC;

    
}


footer nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

footer nav ul li{
    margin-right: 50px;
    letter-spacing: 2px;
    font-size: 17px;
}

